body
{
background-color: White;
}
p
{
	color: black ;
	font-family:"Trebuchet MS";
	text-align: center ;
}
h1,h2
{
	background-color: #FFFFFF;
	color: pink;
	font-family:"Trebuchet MS";
	border-radius: 10px
}
h2
{
	text-decoration: underline;
}
li
{
	text-decoration: underline ;
	color : blue;
	font-size: 1.5em;
}
.imageflottante
{
	float: left;
border-s
} 
a
{color: green}
